/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* NEW */
/* Color Picker Button */
/* line 7, ../sass/colorpicker.scss */
.sps-colorpicker-button {
  border: 1px solid gray;
}

/* The popup window with all the complex layouts */
/* line 16, ../sass/colorpicker.scss */
.sps-colorpicker-window .x-form-item-label {
  text-align: center;
}
/* line 22, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center {
  overflow: visible;
}
/* line 25, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center > .x-box-inner {
  overflow: visible;
}
/* line 28, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center > .x-box-inner .sps-colopicker-window-container-mapnfields {
  overflow: visible;
}
/* line 31, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center > .x-box-inner .sps-colopicker-window-container-mapnfields > .x-box-inner {
  overflow: visible;
}
/* line 36, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center > .x-box-inner .sps-colopicker-window-container-hue {
  overflow: visible;
}
/* line 39, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center > .x-box-inner .sps-colopicker-window-container-hue > .x-box-inner {
  overflow: visible;
}
/* line 44, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center > .x-box-inner .sps-colopicker-window-container-saturation {
  overflow: visible;
}
/* line 47, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center > .x-box-inner .sps-colopicker-window-container-saturation > .x-box-inner {
  overflow: visible;
}
/* line 52, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center > .x-box-inner .sps-colopicker-window-container-value {
  overflow: visible;
}
/* line 55, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container-center > .x-box-inner .sps-colopicker-window-container-value > .x-box-inner {
  overflow: visible;
}
/* line 65, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-colormap {
  background-color: red;
}
/* line 69, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-colormap .sps-colorpicker-colormap-blender {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 78, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-colormap .sps-colorpicker-colormap-draghandle-container {
  overflow: visible;
  z-index: 1;
}
/* line 82, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-colormap .sps-colorpicker-colormap-draghandle-container .sps-colorpicker-colormap-draghandle {
  width: 15px;
  height: 15px;
  position: relative;
  left: -7px;
  top: -7px;
  background: url(../../images/colorpicker/drag_circle_black.png);
}
/* line 98, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-slider .draghandle-container {
  width: 20px;
}
/* line 102, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-slider .draghandle-container .draghandle-outer .draghandle {
  width: 32px;
  height: 9px;
  position: relative;
  left: -6px;
  top: -4px;
  background: url(../../images/colorpicker/pickerslider.png);
  background-repeat: no-repeat;
}
/* line 116, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-slider.hue .draghandle-container {
  background: url(../../images/colorpicker/huegradient.png) no-repeat;
  background-size: auto 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./resources/images/colorpicker/huegradient.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./resources/images/colorpicker/huegradient.png', sizingMethod='scale')";
}
/* line 125, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-slider.saturation .draghandle-container {
  background: -moz-linear-gradient(top, white 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, white 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}
/* line 136, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-slider.value .draghandle-container {
  background: -moz-linear-gradient(top, red 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, red 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, red 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, red 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff0000 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

/* OLD */
/* popup - needed by color picker */
/* line 162, ../sass/colorpicker.scss */
.th-panel-popup {
  overflow: visible !important;
  border: 4px solid #157fcc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 173, ../sass/colorpicker.scss */
.th-panel-popup .pointer-mask {
  position: absolute;
  height: 13px;
  width: 26px;
  top: -13px;
  overflow: hidden;
}
/* line 180, ../sass/colorpicker.scss */
.th-panel-popup .pointer-mask.bottom {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  top: 100%;
}
/* line 185, ../sass/colorpicker.scss */
.th-panel-popup .pointer-mask.left {
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
  left: -19.5px;
  top: 0;
}
/* line 191, ../sass/colorpicker.scss */
.th-panel-popup .pointer-mask.right {
  -webkit-transform-origin: 25% 50%;
  -moz-transform-origin: 25% 50%;
  -ms-transform-origin: 25% 50%;
  -o-transform-origin: 25% 50%;
  transform-origin: 25% 50%;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  left: 100%;
  top: 0;
}
/* line 200, ../sass/colorpicker.scss */
.th-panel-popup .pointer {
  position: absolute;
  height: 19.5px;
  width: 19.5px;
  top: 0;
  left: 13px;
  border: 4px solid #157fcc;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  background-color: #eeeeee;
}
/* line 212, ../sass/colorpicker.scss */
.th-panel-popup .content {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eeeeee;
}

/*COLOR PICKER*/
/* line 226, ../sass/colorpicker.scss */
.th-colorpicker {
  overflow: visible !important;
  /*SWATCH LIBRARY*/
}
/* line 231, ../sass/colorpicker.scss */
.th-colorpicker div {
  position: absolute;
}
/* line 234, ../sass/colorpicker.scss */
.th-colorpicker div.x-field-body {
  position: static;
}
/* line 241, ../sass/colorpicker.scss */
.th-colorpicker button {
  padding: 0 !important;
}
/* line 243, ../sass/colorpicker.scss */
.th-colorpicker button span {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 267, ../sass/colorpicker.scss */
.th-colorpicker .map {
  top: 10px;
  left: 10px;
  width: 256px;
  height: 256px;
}
/* line 273, ../sass/colorpicker.scss */
.th-colorpicker .map canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 280, ../sass/colorpicker.scss */
.th-colorpicker .barH {
  top: 10px;
  left: 284px;
  width: 22px;
  height: 256px;
}
/* line 287, ../sass/colorpicker.scss */
.th-colorpicker .barS {
  top: 10px;
  left: 324px;
  width: 22px;
  height: 256px;
}
/* line 294, ../sass/colorpicker.scss */
.th-colorpicker .barV {
  top: 10px;
  left: 364px;
  width: 22px;
  height: 256px;
}
/* line 301, ../sass/colorpicker.scss */
.th-colorpicker .barA {
  top: 10px;
  left: 404px;
  width: 22px;
  height: 256px;
  background-image: url("../images/colorpicker/checkerboard.png");
}
/* line 309, ../sass/colorpicker.scss */
.th-colorpicker .map, .th-colorpicker .barH, .th-colorpicker .barS, .th-colorpicker .barV, .th-colorpicker .barA {
  border: 1px solid #a7a7a7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 314, ../sass/colorpicker.scss */
.th-colorpicker .slider .picker-outer {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 321, ../sass/colorpicker.scss */
.th-colorpicker .slider .picker-inner {
  height: 9px;
  width: 32px;
  position: absolute;
  top: -4px;
  left: -6px;
  background-image: url("../images/colorpicker/pickerslider.png");
}
/* line 329, ../sass/colorpicker.scss */
.th-colorpicker .slider .picker-inner:active {
  opacity: 0.8;
}
/* line 335, ../sass/colorpicker.scss */
.th-colorpicker .map .picker-outer {
  height: 13px;
  width: 13px;
  top: 0px;
  left: 0px;
  border-radius: 7px;
  border: 1px solid white;
  margin-left: -7px;
  margin-top: -7px;
}
/* line 345, ../sass/colorpicker.scss */
.th-colorpicker .map .picker-inner {
  height: 11px;
  width: 11px;
  border-radius: 7px;
  border: 1px solid white;
}
/* line 358, ../sass/colorpicker.scss */
.th-colorpicker .preview {
  top: 10px;
  left: 444px;
  width: 62px;
  height: 92px;
  border: 1px solid #a7a7a7;
  background-image: url("../images/colorpicker/checkerboard.png");
}
/* line 366, ../sass/colorpicker.scss */
.th-colorpicker .preview .new {
  top: 0;
  left: 0;
  width: 60px;
  height: 45px;
}
/* line 373, ../sass/colorpicker.scss */
.th-colorpicker .preview .old {
  top: 45px;
  left: 0;
  width: 60px;
  height: 45px;
}
/* line 382, ../sass/colorpicker.scss */
.th-colorpicker .buttons {
  top: 110px;
  left: 444px;
  width: 68px;
  height: 66px;
}
/* line 393, ../sass/colorpicker.scss */
.th-colorpicker .hex {
  left: 10px;
  width: 63px;
}
/* line 403, ../sass/colorpicker.scss */
.th-colorpicker .red {
  left: 83px;
}
/* line 406, ../sass/colorpicker.scss */
.th-colorpicker .green {
  left: 123px;
}
/* line 409, ../sass/colorpicker.scss */
.th-colorpicker .blue {
  left: 163px;
}
/* line 413, ../sass/colorpicker.scss */
.th-colorpicker .red, .th-colorpicker .green, .th-colorpicker .blue {
  width: 30px;
}
/* line 423, ../sass/colorpicker.scss */
.th-colorpicker .hue {
  left: 280px;
}
/* line 426, ../sass/colorpicker.scss */
.th-colorpicker .saturation {
  left: 320px;
}
/* line 429, ../sass/colorpicker.scss */
.th-colorpicker .value {
  left: 360px;
}
/* line 432, ../sass/colorpicker.scss */
.th-colorpicker .alpha {
  left: 400px;
}
/* line 435, ../sass/colorpicker.scss */
.th-colorpicker .hue, .th-colorpicker .saturation, .th-colorpicker .value, .th-colorpicker .alpha {
  width: 30px;
}
/* line 439, ../sass/colorpicker.scss */
.th-colorpicker .fields {
  top: 266px;
}
/* line 443, ../sass/colorpicker.scss */
.th-colorpicker .fields div {
  text-align: center;
}
/* line 447, ../sass/colorpicker.scss */
.th-colorpicker .fields div input {
  text-align: center;
  padding: 0px;
}
/* line 461, ../sass/colorpicker.scss */
.th-colorpicker .library {
  position: absolute;
  top: 325px;
  left: 10px;
  width: 100%;
}
/* line 467, ../sass/colorpicker.scss */
.th-colorpicker .library .label {
  text-align: center;
  width: 63px;
  font-size: 11px;
  font-weight: bold;
  color: #333333;
}
/* line 476, ../sass/colorpicker.scss */
.th-colorpicker .library .button-container {
  left: 434px;
  top: 15px;
  width: 62px;
  height: 23px;
}
/* line 483, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches {
  top: 15px;
  width: 496px;
  height: 21px;
}
/* line 488, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row {
  height: 19px;
  width: 419px;
  border: 2px solid #c8c8c8;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url("../images/colorpicker/diagonal_lines.png");
  background-color: white;
}
/* line 497, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-container {
  width: 15px;
  height: 15px;
  padding: 2px;
  border-right: 1px solid #c8c8c8;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: white;
}
/* line 508, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-container:nth-child(21) {
  border-right: none;
}
/* line 512, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-container:active {
  background-color: #c8c8c8;
}
/* line 516, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-color {
  width: 15px;
  height: 15px;
}
/* line 521, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-background {
  width: 15px;
  height: 15px;
  background-image: url("../images/colorpicker/checkerboard.png");
}

/*ANIMS*/
@-webkit-keyframes popIn {
  /* line 535, ../sass/colorpicker.scss */
  0% {
    -webkit-transform: scale(0.1, 0.1);
  }

  /* line 538, ../sass/colorpicker.scss */
  70% {
    -webkit-transform: scale(1.3, 1.3);
  }

  /* line 541, ../sass/colorpicker.scss */
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes dropIn {
  /* line 547, ../sass/colorpicker.scss */
  0% {
    -webkit-transform: scale(1.3, 1.3);
  }

  /* line 550, ../sass/colorpicker.scss */
  50% {
    -webkit-transform: scale(1.3, 1.3);
  }

  /* line 553, ../sass/colorpicker.scss */
  85% {
    -webkit-transform: scale(0.8, 0.8);
  }

  /* line 556, ../sass/colorpicker.scss */
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes popOut {
  /* line 562, ../sass/colorpicker.scss */
  0% {
    -webkit-transform: scale(0.75, 0.75);
  }

  /* line 565, ../sass/colorpicker.scss */
  70% {
    -webkit-transform: scale(1.3, 1.3);
  }

  /* line 568, ../sass/colorpicker.scss */
  100% {
    -webkit-transform: scale(1, 1);
  }
}

/*DRAGGABLE SWATCH*/
/* line 575, ../sass/colorpicker.scss */
.draggableSwatch {
  width: 20px;
  height: 20px;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  position: absolute;
  background-image: url("../images/colorpicker/checkerboard.png");
  border: 1px solid #a7a7a7;
  z-index: 1000;
  cursor: pointer;
}
/* line 585, ../sass/colorpicker.scss */
.draggableSwatch .draggableColor {
  width: 20px;
  height: 20px;
}

/* line 591, ../sass/colorpicker.scss */
.draggableIndicator {
  height: 19px;
  width: 5px;
  position: absolute;
  background-color: #0092f2;
  z-index: 500;
  top: 17px;
  left: 3px;
  opacity: 0.5;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

/*COLOR PICKER BUTTON*/
/* line 605, ../sass/colorpicker.scss */
.colorpicker {
  margin-left: 6px;
}

/* line 612, ../sass/colorpicker.scss */
.AN-colorbtn {
  height: 17px;
  width: 17px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  border: 1px solid #c8c8c8;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  display: block;
  background-image: url("../images/colorpicker/checkerboard.png");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 627, ../sass/colorpicker.scss */
.AN-colorbtn a {
  display: block !important;
}

/* line 634, ../sass/colorpicker.scss */
.AN-colorbtn-rgb {
  width: 15px;
  height: 15px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0 0 50%;
  -moz-transform-origin: 0 0 0 50%;
  -ms-transform-origin: 0 0 0 50%;
  -o-transform-origin: 0 0 0 50%;
  transform-origin: 0 0 0 50%;
}

/* line 646, ../sass/colorpicker.scss */
.AN-colorbtn-rgba {
  width: 15px;
  height: 15px;
  display: block;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 656, ../sass/colorpicker.scss */
.AN-colorbtn-unknown {
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 10px;
  display: block;
  text-align: right;
  color: red !important;
}

/* line 667, ../sass/colorpicker.scss */
.AN-colorbtn-mask {
  pointer-events: none;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 679, ../sass/colorpicker.scss */
.x4-btn-over .AN-colorbtn-mask {
  opacity: 0.1;
}
/* line 683, ../sass/colorpicker.scss */
.x4-btn-pressed .AN-colorbtn-mask {
  background-color: black;
  opacity: 0.1;
}

/* line 689, ../sass/colorpicker.scss */
.x-checkerboard {
  background-image: url("../images/colorpicker/checkerboard.png");
}
