/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* NEW */
/* Color Picker Button */
/* line 8, ../sass/colorpicker.scss */
.sps-colorpicker-button {
  border: 1px solid gray;
  background-color: tomato;
}

/* The popup window with all the complex layouts */
/* line 17, ../sass/colorpicker.scss */
.sps-colorpicker-window .x-form-item-label {
  text-align: center;
}
/* line 22, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container1 {
  overflow: visible;
}
/* line 25, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container1 > .x-box-inner {
  overflow: visible;
}
/* line 28, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container1 > .x-box-inner .sps-colopicker-window-container2 {
  overflow: visible;
}
/* line 31, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colopicker-window-container1 > .x-box-inner .sps-colopicker-window-container2 > .x-box-inner {
  overflow: visible;
}
/* line 41, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-colormap {
  background-color: red;
}
/* line 44, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-colormap .sps-colorpicker-colormap-blender {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 52, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-colormap .sps-colorpicker-colormap-draghandle-container {
  overflow: visible;
  z-index: 1;
}
/* line 56, ../sass/colorpicker.scss */
.sps-colorpicker-window .sps-colorpicker-colormap .sps-colorpicker-colormap-draghandle-container .sps-colorpicker-colormap-draghandle {
  width: 15px;
  height: 15px;
  position: relative;
  left: -7px;
  top: -7px;
  background: url(../../images/colorpicker/drag_circle_black.png);
}

/* OLD */
/* popup - needed by color picker */
/* line 83, ../sass/colorpicker.scss */
.th-panel-popup {
  overflow: visible !important;
  border: 4px solid #157fcc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 94, ../sass/colorpicker.scss */
.th-panel-popup .pointer-mask {
  position: absolute;
  height: 13px;
  width: 26px;
  top: -13px;
  overflow: hidden;
}
/* line 101, ../sass/colorpicker.scss */
.th-panel-popup .pointer-mask.bottom {
  -moz-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  top: 100%;
}
/* line 106, ../sass/colorpicker.scss */
.th-panel-popup .pointer-mask.left {
  -moz-transform: rotateZ(270deg);
  -webkit-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
  left: -19.5px;
  top: 0;
}
/* line 112, ../sass/colorpicker.scss */
.th-panel-popup .pointer-mask.right {
  -moz-transform-origin: 25% 50%;
  -webkit-transform-origin: 25% 50%;
  -o-transform-origin: 25% 50%;
  -ms-transform-origin: 25% 50%;
  transform-origin: 25% 50%;
  -moz-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  left: 100%;
  top: 0;
}
/* line 121, ../sass/colorpicker.scss */
.th-panel-popup .pointer {
  position: absolute;
  height: 19.5px;
  width: 19.5px;
  top: 0;
  left: 13px;
  border: 4px solid #157fcc;
  -moz-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background-color: #eeeeee;
}
/* line 133, ../sass/colorpicker.scss */
.th-panel-popup .content {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eeeeee;
}

/*COLOR PICKER*/
/* line 147, ../sass/colorpicker.scss */
.th-colorpicker {
  overflow: visible !important;
  /*SWATCH LIBRARY*/
}
/* line 152, ../sass/colorpicker.scss */
.th-colorpicker div {
  position: absolute;
}
/* line 155, ../sass/colorpicker.scss */
.th-colorpicker div.x-field-body {
  position: static;
}
/* line 162, ../sass/colorpicker.scss */
.th-colorpicker button {
  padding: 0 !important;
}
/* line 164, ../sass/colorpicker.scss */
.th-colorpicker button span {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 188, ../sass/colorpicker.scss */
.th-colorpicker .map {
  top: 10px;
  left: 10px;
  width: 256px;
  height: 256px;
}
/* line 194, ../sass/colorpicker.scss */
.th-colorpicker .map canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 201, ../sass/colorpicker.scss */
.th-colorpicker .barH {
  top: 10px;
  left: 284px;
  width: 22px;
  height: 256px;
}
/* line 208, ../sass/colorpicker.scss */
.th-colorpicker .barS {
  top: 10px;
  left: 324px;
  width: 22px;
  height: 256px;
}
/* line 215, ../sass/colorpicker.scss */
.th-colorpicker .barV {
  top: 10px;
  left: 364px;
  width: 22px;
  height: 256px;
}
/* line 222, ../sass/colorpicker.scss */
.th-colorpicker .barA {
  top: 10px;
  left: 404px;
  width: 22px;
  height: 256px;
  background-image: url("../images/colorpicker/checkerboard.png");
}
/* line 230, ../sass/colorpicker.scss */
.th-colorpicker .map, .th-colorpicker .barH, .th-colorpicker .barS, .th-colorpicker .barV, .th-colorpicker .barA {
  border: 1px solid #a7a7a7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 235, ../sass/colorpicker.scss */
.th-colorpicker .slider .picker-outer {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 242, ../sass/colorpicker.scss */
.th-colorpicker .slider .picker-inner {
  height: 9px;
  width: 32px;
  position: absolute;
  top: -4px;
  left: -6px;
  background-image: url("../images/colorpicker/pickerslider.png");
}
/* line 250, ../sass/colorpicker.scss */
.th-colorpicker .slider .picker-inner:active {
  opacity: 0.8;
}
/* line 256, ../sass/colorpicker.scss */
.th-colorpicker .map .picker-outer {
  height: 13px;
  width: 13px;
  top: 0px;
  left: 0px;
  border-radius: 7px;
  border: 1px solid white;
  margin-left: -7px;
  margin-top: -7px;
}
/* line 266, ../sass/colorpicker.scss */
.th-colorpicker .map .picker-inner {
  height: 11px;
  width: 11px;
  border-radius: 7px;
  border: 1px solid white;
}
/* line 279, ../sass/colorpicker.scss */
.th-colorpicker .preview {
  top: 10px;
  left: 444px;
  width: 62px;
  height: 92px;
  border: 1px solid #a7a7a7;
  background-image: url("../images/colorpicker/checkerboard.png");
}
/* line 287, ../sass/colorpicker.scss */
.th-colorpicker .preview .new {
  top: 0;
  left: 0;
  width: 60px;
  height: 45px;
}
/* line 294, ../sass/colorpicker.scss */
.th-colorpicker .preview .old {
  top: 45px;
  left: 0;
  width: 60px;
  height: 45px;
}
/* line 303, ../sass/colorpicker.scss */
.th-colorpicker .buttons {
  top: 110px;
  left: 444px;
  width: 68px;
  height: 66px;
}
/* line 314, ../sass/colorpicker.scss */
.th-colorpicker .hex {
  left: 10px;
  width: 63px;
}
/* line 324, ../sass/colorpicker.scss */
.th-colorpicker .red {
  left: 83px;
}
/* line 327, ../sass/colorpicker.scss */
.th-colorpicker .green {
  left: 123px;
}
/* line 330, ../sass/colorpicker.scss */
.th-colorpicker .blue {
  left: 163px;
}
/* line 334, ../sass/colorpicker.scss */
.th-colorpicker .red, .th-colorpicker .green, .th-colorpicker .blue {
  width: 30px;
}
/* line 344, ../sass/colorpicker.scss */
.th-colorpicker .hue {
  left: 280px;
}
/* line 347, ../sass/colorpicker.scss */
.th-colorpicker .saturation {
  left: 320px;
}
/* line 350, ../sass/colorpicker.scss */
.th-colorpicker .value {
  left: 360px;
}
/* line 353, ../sass/colorpicker.scss */
.th-colorpicker .alpha {
  left: 400px;
}
/* line 356, ../sass/colorpicker.scss */
.th-colorpicker .hue, .th-colorpicker .saturation, .th-colorpicker .value, .th-colorpicker .alpha {
  width: 30px;
}
/* line 360, ../sass/colorpicker.scss */
.th-colorpicker .fields {
  top: 266px;
}
/* line 364, ../sass/colorpicker.scss */
.th-colorpicker .fields div {
  text-align: center;
}
/* line 368, ../sass/colorpicker.scss */
.th-colorpicker .fields div input {
  text-align: center;
  padding: 0px;
}
/* line 382, ../sass/colorpicker.scss */
.th-colorpicker .library {
  position: absolute;
  top: 325px;
  left: 10px;
  width: 100%;
}
/* line 388, ../sass/colorpicker.scss */
.th-colorpicker .library .label {
  text-align: center;
  width: 63px;
  font-size: 11px;
  font-weight: bold;
  color: #333333;
}
/* line 397, ../sass/colorpicker.scss */
.th-colorpicker .library .button-container {
  left: 434px;
  top: 15px;
  width: 62px;
  height: 23px;
}
/* line 404, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches {
  top: 15px;
  width: 496px;
  height: 21px;
}
/* line 409, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row {
  height: 19px;
  width: 419px;
  border: 2px solid #c8c8c8;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url("../images/colorpicker/diagonal_lines.png");
  background-color: white;
}
/* line 418, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-container {
  width: 15px;
  height: 15px;
  padding: 2px;
  border-right: 1px solid #c8c8c8;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  background-color: white;
}
/* line 429, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-container:nth-child(21) {
  border-right: none;
}
/* line 433, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-container:active {
  background-color: #c8c8c8;
}
/* line 437, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-color {
  width: 15px;
  height: 15px;
}
/* line 442, ../sass/colorpicker.scss */
.th-colorpicker .library .swatches .swatch-row .swatch-background {
  width: 15px;
  height: 15px;
  background-image: url("../images/colorpicker/checkerboard.png");
}

/*ANIMS*/
@-webkit-keyframes popIn {
  /* line 456, ../sass/colorpicker.scss */
  0% {
    -webkit-transform: scale(0.1, 0.1);
  }

  /* line 459, ../sass/colorpicker.scss */
  70% {
    -webkit-transform: scale(1.3, 1.3);
  }

  /* line 462, ../sass/colorpicker.scss */
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes dropIn {
  /* line 468, ../sass/colorpicker.scss */
  0% {
    -webkit-transform: scale(1.3, 1.3);
  }

  /* line 471, ../sass/colorpicker.scss */
  50% {
    -webkit-transform: scale(1.3, 1.3);
  }

  /* line 474, ../sass/colorpicker.scss */
  85% {
    -webkit-transform: scale(0.8, 0.8);
  }

  /* line 477, ../sass/colorpicker.scss */
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes popOut {
  /* line 483, ../sass/colorpicker.scss */
  0% {
    -webkit-transform: scale(0.75, 0.75);
  }

  /* line 486, ../sass/colorpicker.scss */
  70% {
    -webkit-transform: scale(1.3, 1.3);
  }

  /* line 489, ../sass/colorpicker.scss */
  100% {
    -webkit-transform: scale(1, 1);
  }
}

/*DRAGGABLE SWATCH*/
/* line 496, ../sass/colorpicker.scss */
.draggableSwatch {
  width: 20px;
  height: 20px;
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -ms-box-sizing: content-box !important;
  box-sizing: content-box !important;
  position: absolute;
  background-image: url("../images/colorpicker/checkerboard.png");
  border: 1px solid #a7a7a7;
  z-index: 1000;
  cursor: pointer;
}
/* line 506, ../sass/colorpicker.scss */
.draggableSwatch .draggableColor {
  width: 20px;
  height: 20px;
}

/* line 512, ../sass/colorpicker.scss */
.draggableIndicator {
  height: 19px;
  width: 5px;
  position: absolute;
  background-color: #0092f2;
  z-index: 500;
  top: 17px;
  left: 3px;
  opacity: 0.5;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

/*COLOR PICKER BUTTON*/
/* line 526, ../sass/colorpicker.scss */
.colorpicker {
  margin-left: 6px;
}

/* line 533, ../sass/colorpicker.scss */
.AN-colorbtn {
  height: 17px;
  width: 17px;
  -moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  border: 1px solid #c8c8c8;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  display: block;
  background-image: url("../images/colorpicker/checkerboard.png");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 548, ../sass/colorpicker.scss */
.AN-colorbtn a {
  display: block !important;
}

/* line 555, ../sass/colorpicker.scss */
.AN-colorbtn-rgb {
  width: 15px;
  height: 15px;
  position: relative;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform-origin: 0 0 0 50%;
  -webkit-transform-origin: 0 0 0 50%;
  -o-transform-origin: 0 0 0 50%;
  -ms-transform-origin: 0 0 0 50%;
  transform-origin: 0 0 0 50%;
}

/* line 567, ../sass/colorpicker.scss */
.AN-colorbtn-rgba {
  width: 15px;
  height: 15px;
  display: block;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 577, ../sass/colorpicker.scss */
.AN-colorbtn-unknown {
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 10px;
  display: block;
  text-align: right;
  color: red !important;
}

/* line 588, ../sass/colorpicker.scss */
.AN-colorbtn-mask {
  pointer-events: none;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  opacity: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 600, ../sass/colorpicker.scss */
.x4-btn-over .AN-colorbtn-mask {
  opacity: 0.1;
}
/* line 604, ../sass/colorpicker.scss */
.x4-btn-pressed .AN-colorbtn-mask {
  background-color: black;
  opacity: 0.1;
}

/* line 610, ../sass/colorpicker.scss */
.x-checkerboard {
  background-image: url("../images/colorpicker/checkerboard.png");
}
